
 <h2> <%= @movie['title'] %> </h2>

<div class="left-column">
  <h4>Relased - <%= @movie['released'] %> </h4> 
  <img src="<%= @movie['poster'] %>" alt="">
</div>
<div class="right-column">
  <h4>Director - <%= @movie['director'] %> </h4> 
  <p>Metascore - <%= @movie['metascore'] %> </p>
  <p>Actors - <%= @movie['actors'] %> </p>
  <p>Genre - <%= @movie['genre'] %> </p>
  <p>Actors - <%= @movie['actors'] %> </p>
  <p>Synopsis </br> <%= @movie['plot'] %> </p>


</div>